vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2006 04:18:46 -0000
vti_extenderversion:SR|5.0.2.2623
vti_author:SR|PACIFIC2\\Administrator
vti_modifiedby:SR|TP\\Amit
vti_timecreated:TR|19 Jun 2006 08:07:48 -0000
vti_lineageid:SR|{3C4EB6FF-C35D-4BE9-BD88-D851EF933B23}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|25 Jun 2006 04:18:46 -0000
vti_filesize:IR|1275
